<%inherit file="base.htm" />





<%block name="content">
<html>
  <title>Order Now</title>
<div style="background-color:#E92380;" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="homepage"><span style="color:white;">SeraMoMo</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <div style="margin-top: -10px; margin-right:80px;">
            <center>
            <h3 style="color:white;">Order Now</h3>
            </center>
          </div>
          <ul style="margin-top:-50px;" class="nav navbar-nav navbar-right">
            <li style="color:black;">
              <a href="homepage" style="color:white;">Home</a>
            </li>
            <li>
              <a href="/homepage/#ordernow" style="color:white;">Order Now</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="Seremomo Website.css" rel="stylesheet" type="text/css">
  </head><body>
    ## <div class="cover">
    ##   <div class="navbar">
    ##     <div class="container">
    ##       <div class="navbar-header">
    ##         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
    ##           <span class="sr-only">Toggle navigation</span>
    ##           <span class="icon-bar"></span>
    ##           <span class="icon-bar"></span>
    ##           <span class="icon-bar"></span>
    ##         </button>
    ##         <img src="http://i.imgur.com/q1jHatA.png" class="navbar-brand" style="height: 300px">
    ##       </div>
    ##       <div class="collapse navbar-collapse" id="navbar-ex-collapse">
    ##         <ul class="nav navbar-nav navbar-right">
    ##           <li class="active">
    ##             <a style="color:black;" href="#">Home</a>
    ##           </li>
    ##           <li>
    ##             <a style="color:black;" href="#">Order Now</a>
    ##           </li>
    ##         </ul>
    ##       </div>
    ##     </div>
    ##   </div>
    ##   <div class="cover-image" style="background-image: url('https://static.pexels.com/photos/66556/pexels-photo-66556.jpeg');"></div>
    ##   <div class="container">
    ##     <div class="row">
    ##       <div class="col-md-12 text-center">
    ##         <h1 class="text-inverse">Sera MoMo</h1>
    ##         <p class="text-inverse">From the Himalayan cliffs to your kitchen.</p>
    ##         <br>
    ##         <br>
    ##         <a class="btn btn-lg btn-primary">Order Now</a>
    ##       </div>
    ##     </div>
    ##   </div>
    ## </div>

        <div style="" class="section">
      <div class="container">
        <div class="row">

          <div>
          <center>
            <img src="http://i.imgur.com/z3r9XYD.jpg" style="margin-left:-150px; height:300px; width:1409px; margin-top:-53px; ">
          </center>
          </div>

          <div class="col-md-12">
            <h3 align="center">Order Now</h3>
            <p>Sera MoMo brings you a taste of the Himalayas.   A recipe handed down from generation to generation in the shadow of Mt. Everest, Sera MoMo is a traditional Sherpa food, updated with farm fresh produce and grass fed meats.In 2015 "Great Quake" Sera's homeland was devastated and many family members home and livelihoods were destroyed. After the tragedy Sera founded Sera MoMo to bring awareness and raise money to help the rebuilding process in Nepal.  Sera handcrafts each dumpling, and offers a prayer, “Om Mane Padme Hung,” for the wellbeing of those who eat them, as well as those affected by the earthquake.  With every healthy, delicious bite, Sera MoMo brings you the authenticity of Sherpa food.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src=http://i.imgur.com/YoU9i6r.jpg class="img-responsive" style="height:400px; width:400px; ">
          </div>
          <div class="col-md-6">
            <h3>Our Story</h3>
            <p>Seramomo was founded in a local store in Boise, Idaho. And From then it has made it around the world and to your kitchen. </p>
          </div>
        </div>
      </div>
    </div>







</body></html>
</%block>