<%inherit file="base.htm" />


<%block name="content">
<html>
  <title>Products</title>
<div style="background-color:#E92380;" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="homepage"><span style="color:white;">SeraMoMo</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <div style="margin-top: -10px; margin-right:80px;">
            <center>
            <h3 style="color:white;">Products </h3>
            </center>
          </div>
          <ul style="margin-top:-50px;" class="nav navbar-nav navbar-right">
            <li style="color:black;">
              <a href="homepage" style="color:white;">Home</a>
            </li>
            <li>
              <a href="/homepage/#ordernow" style="color:white;">Order Now</a>
            </li>
            <li>
             <a href="/Products" style="color:white">Products</a>
            </li>
            <li>
             <a href="/Description" style="color:white">Description</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="Seremomo Website.css" rel="stylesheet" type="text/css">
  </head><body>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/1325A/production/_88762487_junk_food.jpg" class="img-responsive"/>
			</div>
			<div class="col-md-6">
				<h1 class="text-primary">Sera's Vegetarian Momo</h1>
				<p> Made with fresh, organic produce, and delicious IDAHO potatoes.  Vegetarian, and Vegan, friendly, Sera’s Veggie MoMos bring an updated taste to a Himalayan classic. </p>
			<div class="col-md-3">
				<a href="/Description#MoMo1" id="MoMo1"><button type="button" class="btn btn-primary">Find Out More</button></a>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-primary">Pre-Order</button>
			</div>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="http://www.smithfieldfoods.com/images/home/packaged-brands/armour-food.jpg" class="img-responsive"/>
			</div>
			<div class="col-md-6">
				<h1 class="text-primary">Sera's Meat MoMo</h1>

				<p>handcrafted with a mixture of grass-fed pork and turkey from Melheur River Meats (Boise, Idaho), and organic produce (cabbage, cilantro, red/green onions), combined with traditional Himalayan spices (cumin, turmeric, and Sera’s spice blend).  With every bite you will Taste the Himalayas.</p>
 
				<div class="col-md-3">
				<a href="/Description#MoMo2" id="MoMo2"><button type="button" class="btn btn-primary">Find Out More</button></a>
			</div>
			<div class="col-md-3">
				<button type="button" class="btn btn-primary">Pre-Order</button>
			</div>
			</div>
		</div>
	</div>
</div>

</body></html>



</%block>